.topic-tag {
  font-size: var(--text-xs);
  background-color: #eb6f92;
  color: white;
  padding: 5px;
  line-height: 1;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.topic-tag:hover {
  background-color: #b4637a;
}
