.note-item {
  display: block;
  min-height: 50px;
  height: 100%;
  min-width: 100px;
  padding: 5px;
  border-radius: 5px;
}

.note-item:hover {
  color: var(--background);
  background: var(--foreground);
}
