.menu-desktop ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.menu-desktop li {
  height: 34px;
  position: relative;
  display: flex;
  align-items: center;
}

.menu-desktop li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease;
  background: var(--accent);
}

.menu-desktop li:hover::after {
  width: 100%;
}

.menu-desktop li a {
  display: block;
  color: var(--text-secondary);
  transition: transform 300ms ease-in-out, color 200ms ease;
}

.menu-desktop li a:hover {
  transform: translateY(-2px);
  color: var(--foreground);
}
