.footer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 200px;
}

.footer .footer-container a {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--text-sm);
}
