:root {
  --gap: 5px;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --global-padding: 30px;
  --breakpoint-screen-sm: 640px;
  --breakpoint-screen-md: 768px;
  --breakpoint-screen-lg: 1024px;
}

[data-theme="light"] {
  --background: #faf4ed;
  --foreground: #575279;
  --text-secondary: #797593;
}

[data-theme="dark"] {
  --background: #232136;
  --foreground: #e0def4;
  --text-secondary:  #908caa;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #e5e5e5;
  }
}
  */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}

.layout {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: 150px 1fr 60px;
  max-width: var(--breakpoint-screen-md);
  height: 100vh;
  padding: 0 var(--global-padding);
}

h1 {
  font-size: var(--text-xl);
  font-weight: bold;
}

h2 {
  font-size: var(--text-lg);
  font-weight: bold;
}
