@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2a2c39;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2c39;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
